html{
    background-color: rgb(87, 121, 121);
    height: 100%;
    width: 100%;
}

body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

h1{
    text-align: center;
}

main#app{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    align-self: center;
    justify-content: space-evenly;
    #sendButton{
        width: max-content; 
        align-self: center;
    }
}

div#chat{
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: rgba(211, 211, 211, 0.322);
    h3{
        text-align: center;
    }
    select{
        position: fixed;
        bottom: 0;
        right: 0;
        height: max-content;
        align-items: center;
        bottom: 0;
        max-width: 200px;
        option{
            max-width: 60vw;
        }
    }
}