html{
    background-color: rgb(87, 121, 121);
    height: 100%;
    width: 100%;
}

body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

h1{
    text-align: center;
}

main#app{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    height: 100%;
    align-self: center;
    justify-content: space-evenly;
    input{
        text-align: center;
    }
    #sendButton{
        width: 25%; 
        align-self: center;
    }
}